*{
	margin:0;
	padding:0;
}
.clear:after{
	content: " ";
	height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}
.header{
	width: 1220px;
	height: 60px;
	background-color:#2189c0;
	position: relative; 
	line-height: 60px;
	margin: 0 auto;
}
.a img{
	position: absolute;
	left: 40px;
	top: 13px;
}
.b{
	text-align: right;
	margin-right: 50px;

}
.search{
	display: inline-block;
	position: relative;
	padding-left: 10px;
}
.search input{
	border-radius:20px;
	height: 25px;
	margin-right: 40px;
	border: none;
	padding-left: 30px;
	width: 140px;
}
.search img{
	position: absolute;
	right: 170px;
	top: 22px;
}
.loginbar{
	display: inline-block;
	color: #fff;
	position: relative;
}
.loginbar img{
	position: absolute;
	top: 20px;
	right: 25px;
}
.loginbar a{
	color:#fff;
	text-decoration: none;
}
/*头部*/
.world{
	width: 1220px;
	margin: 0 auto;
}
.sidebar{
	width: 250px;
	height: 1183px;
	background-color: #2b2e3d;
	color: #fff;
	float: left;
}
.logo{
	padding-top: 20px;
	position: relative;
	padding-bottom: 15px;
}
.logo img{
	padding-left: 30px;
}
.logo .m{
	top: 40px;
	left: 110px;
	position: absolute;
	font-size: 18px;
}
.hot{
	display: inline-block;
	padding: 0 40px 0 50px;
	color: #576477;
	border-right: 1px solid #576477;
}
.hott{
	display: inline-block;
	padding-left: 40px;
	color: #576477;
	padding-bottom: 30px;
}
/*.nav{
	padding-left: 30px;
	padding-top: 20px;
}*/
.ye{
	background-color: #383e4e;
	padding: 10px 0 10px 30px;
}
img{
	padding-right: 10px;
}
.yes{
	padding-top: 10px;
	padding-left: 20px;
	color: #6e8096;
	padding-bottom: 10px;
}
.yed{
	padding-left: 20px;
}
.o{
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.p{
	padding-left: 40px;
	color: #6e8096;
	padding-bottom: 10px;
}
.h{
	padding-left: 20px;
	color: #6e8096;
	padding-bottom: 0;
}
.os{
	padding: 10px 0 20px 20px;
}
.os img{
	margin-bottom: -5px;
}
/*侧栏 左浮动*/
.content{
	width: 970px;
	float: left;
	height: 1183px;
	background-color: #ededed;
}
.column{
	background-color: #fff;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	color: #cfcfcf;
}
.column .ll{
	color: #82a8cc;
}
.dan{
	margin: 20px 10px 10px 10px;
	background-color:#fff;
	padding: 20px 0 20px 30px;
	height: 50px;
}
.dan .one{
	position: relative;
	padding-right: 30px;
	float: left;
}
.dan .one select{
	width: 80px;
	border:1px solid #c2c2c2;
}
.two{
	float: left;
	padding-right: 60px;
	position: relative;
}
.two select{
	width: 80px;
	margin-bottom: 10px;
	border:1px solid #c2c2c2;
}
/*.two .yi img{
	position: absolute;
	top: 5px;
	left: 150px;
}*/
/*.two .er img{
	position: absolute;
	top: 45px;
	left: 120px;
}*/
.two img{
	position: absolute;
	top: 5px;
	left: 125px;
}
.three{
	float: left;
	padding-right: 30px;
	position: relative;
}
.three input{
	width: 120px;
	margin-bottom: 10px;
	border:1px solid #c2c2c2;
}
.three .si input{
	position: relative;
	margin-left: 8px;
}
.three .si img{
	position: absolute;
	top: 45px;
	left: 150px;
}
.four{
	float: left;
	padding-right: 40px;
	position: relative;
}
.four select{
	width: 80px;
	margin-bottom: 10px;
	border:1px solid #c2c2c2;
	margin-left: 8px;
}
.five{
	float: left;
	line-height: 65px;
	margin-top: -7px;
}
.five input{
	width: 50px;
	text-align: center;
	padding: 10px;
	background-color:#3889c0;
	color: #fff;
	border:none;
	padding-top: 10px;
	cursor: pointer;
}
.time{
	margin: 0 10px 20px 10px;
	height: 60px;
	width: 949px;
}
.mm{
	float: left;
	height: 60px;
	background-color: #fff;
	line-height: 60px;
	margin-right: 10px;
}
.mm img{
	padding-left: 10px;
}
.money{
	float: left;
	height: 50px;
	width: 109px;
	background-color: #fff;
	margin-right: 10px;
	padding-top:10px;
	text-align: center;
}
.li{
	float: left;
	height: 48px;
	width: 154px;
	background-color:#fff;
	padding-top: 12px;
	position: relative;
}
.li span{
	position: absolute;
	top: 22px;
	left: 70px;
}
.li img{
	position: absolute;
	top: 13px;
	left: 20px;
}
.money .t{
	font-size: 10px;
}
.money .m{
	font-size: 25px;
	color: #ed6500;
	position: relative;
	padding-left: 25px;
}
.money .m img{
	width: 17px;
	height: 17px;
	position: absolute;
	top: 8px;
	left: 25px;
}
.tong{
	margin: 0 10px 20px 10px;
	width: 949px;
}
.huo{
	margin-top: 10px;
}
.lv{
	float: left;
	width: 200px;
	margin-right: 33px;
	background-color: #fff;
	padding: 20px 0 20px 10px;
	border-left: 2.5px solid #43b29f;
	position: relative;
}
.lv .fang{
	width: 80px;
	height: 50px;
	background-color: #43b29f;
	position: absolute;
	top: 18px;
	left: 120px;
}
.lan{
	float: left;
	width: 200px;
	margin-right: 33px;
	background-color: #fff;
	border-left: 2.5px solid #398ac1;
	padding: 20px 0 20px 10px;
	position: relative;
}
.lan .fang{
	width: 80px;
	height: 50px;
	background-color:#398ac1 ;
	position: absolute;
	top: 18px;
	left: 120px;
}
.hong{
	float: left;
	width: 200px;
	margin-right: 33px;
	background-color: #fff;
	border-left: 2.5px solid #cf4b36;
	padding: 20px 0 20px 10px;
	position: relative;
}
.hong .fang{
	width: 80px;
	height: 50px;
	background-color:#cf4b36 ;
	position: absolute;
	top: 18px;
	left: 120px;
}
.huang{
	float: left;
	width: 200px;
	background-color: #fff;
	border-left: 2.5px solid #e1cd46;
	padding: 20px 0 20px 10px;
	position: relative;
}
.huang .fang{
	width: 80px;
	height: 50px;
	background-color:#e1cd46 ;
	position: absolute;
	top: 18px;
	left: 120px;
}
.cheng{
	color: #b7b7b7;
	padding-top: 10px;
}
.fu{
	width: 949px;
	margin: 0 10px 20px 10px;
}
.fuyi{
	float: left;
	border:1px solid #d1d2d7;
	border-radius: 10px; 
	width:600px;
	background-color: #fff;
}
.fuyi .com{
	background-color: #fff;
}
.fuyi p{
	padding: 10px 0 10px 10px;
	color: #b0b0b0;
	background-color: #f5f5f7;
	border-radius: 10px 10px 0 0;
}
.fuyi dl{
	background-color: #fff;
	padding-left: 15px;
}
.fuyi dl dd{
	float: left;
	margin:10px 0 0 5px;
	padding: 10px 20px;
	background-color: #ededef;
	border-radius: 5px 5px 0 0;
	border: 1px solid #d5d5d5;
	cursor:pointer;
}
.fuyi .ca{
	border: 1px solid #d5d5d5;
	width:560px;
	margin: -1px 20px 30px 20px ;
}
.fuyi .bcd{
	width: 500px;
	background-color: #fff;
	border-collapse: collapse;
	margin: 20px;
}
.fuyi .bcd td,
.fuyi .bcd tr{
	text-align: center;
	border: 1px solid #d5d5d5;
	padding: 5px;
	margin-right: 10px;
}
.fuyi .od{
	background-color: #fff;
	border: 1px solid #d5d5d5;
	border-bottom: 1px solid #fff;
	cursor: auto;
}
.fuer{
	width: 333px;
	margin-left: 12px;
	float:right;
	background-color: #fff;
	border:1px solid #d1d2d7;
	border-radius: 10px;
	height: 334px;
}
.fuer .cv{
	padding: 10px;
	color: #b0b0b0;
	background-color: #f5f5f7;
	border-radius: 10px 10px 0 0;
}
.fuer .biao{
	padding: 15px 30px 0 30px;
}
.fuer .ou{
	color: #c7c7c7;
	padding-bottom: 5px;
}
.fuer .uo{
	padding-bottom: 10px; 
}
.fuer .va{
	border-top:1px solid #e8e8e8;
	border-bottom:1px solid #e8e8e8;
}
.fuer .qo{
	display: inline-block;
	padding: 0 50px 0 0;
}
.fuer .oq{
	display: inline-block;
	padding-left: 10px;
	padding-top: 0;
	padding-bottom: 0;
	border-left: 1px solid #e8e8e8;
}
.fuer .rt{
	color: #ccc;
}
.fuer .ui{
	color: #ccc;
	padding-bottom: 5px;
}
.fuer .iu{
	height:120px;
}
.fuer .tu{
	border-top: 1px solid #e8e8e8;
	color: #ccc;
	padding-top: 10px;
}
.fuer .mb input{
	margin-left: 100px;
	padding: 5px 10px;
	color: #fff;
	background-color: #388bc1;
	border:0;
	cursor: pointer;
}
.hou{
	width: 949px;
	margin: 0 10px 20px 10px;
}
.rili{
	float: left;
	border:1px solid #d1d2d7;
	border-radius: 10px;
	background-color: #fff;
	width: 400px;
	margin-right: 25px;
}
.rili .wq{
	padding: 10px 0 10px 10px;
	color: #b0b0b0;
	background-color: #f5f5f7;
	border-radius: 10px 10px 0 0;
}
.rili .nb{
	padding: 10px 20px 30px 20px;
}
.rili select{
	padding: 5px;
	/*border: 1px solid #ccc;*/
}
.nian{
	position: relative;
	float: left;
}
.nian select{
	width: 75px;
	margin-right: 13px;
}
.yue{
	float: left;
}
.yue select{
	width:80px;
	margin-right: 13px;
}

.date{
	float: left;
}
.date select{
	width: 80px;
	margin-right: 14px;
}
.lg{
	float: left;
}
.lg input{
	width: 70px;
	text-align: center;
	margin-bottom: 20px;
	padding:5px;
}
.rili{
	height: 416px;
}
.rili table{
	width: 360px;
	border-collapse: collapse;
	text-align: center;
}
.uoo .td{
	height: 55px;
	width: 50px;
}
#top{
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
}
#top th{
	padding:7px;
}
.shu{
	margin: 7px 0;
}
.zi{
	font-size: 13px;
	margin-bottom:7px; 
}
.jiu{
	color: #dc8282;
}
.kuang{
	border: 1px solid #f5c72c;
}
.bnm{
	border-top: 1px solid black;
}

.paiming{
	float: left;
	width: 520px;
	height: 416px;
	border:1px solid #d1d2d7;
	border-radius: 10px;
	background-color: #fff;
}
.paizi tr:hover{
	background-color: #ccf;
}
.www{
	padding: 10px 0 10px 10px;
	color: #b0b0b0;
	background-color: #f5f5f7;
	border-radius: 10px 10px 0 0;
	margin-bottom: 25px;
}
.paizi{
	margin: 0 auto;
	text-align: center;
	width: 500px;
	border-collapse: collapse;
}
.paiming td,
.paiming tr{
	border: 1px solid #ccc;
	padding: 5px;
}
.paizi .no:hover{
	background-color: #fff;
}
.shuzi{
	display:inline-block;
}
.hang .da{
	display: inline-block;
	width: 200px;
	height: 5px;
	border: 1px solid #ccc;
	margin-bottom: 2px;
	background-color: #ccc;
}
.xiao{
	width: 200px;
	height: 5px;
	border: 1px solid #ed6d52 ;
	background-color: #ed6d52;
}